{% load i18n static %}<!DOCTYPE html>
<html>
    <head>
        <title>{% trans "Invoice:" %}{{ invoice.invoice_number }}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'invoices.css' %}">
        <link rel="stylesheet" type="text/css" media="print" href="{% static 'base_print.css' %}">
        <link rel="stylesheet" type="text/css" media="print" href="{% static 'invoices_print.css' %}">
    </head>
    <body>
        {% include "invoices/includes/invoice.html" with invoice=invoice %}
    </body>
</html>
